{% extends "base.html" %}

{% block page_title %} Contact Us {% endblock page_title %}

{% block content %}

<h2>Contact Information</h2>

<form class="d-flex" action="{% url 'Contact us' %}" method="POST">
    {% csrf_token %}

    <div class="row">
         <div class="form-floating mb-3">
            <input type="text" name="message-name" class="form-control" id="floatingInput1" placeholder="Your Name" required>
            <label for="floatingInput1">Your Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" name="message-email" class="form-control" id="floatingInput2" placeholder="name@example.com" required>
            <label for="floatingInput2">Email address</label>
        </div>

        <div class="form-floating">
            <textarea name="message" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                      style="height: 100px" required></textarea>
            <label for="floatingTextarea2">Comments</label>
        </div>
        <div class="col-12">
            <button type="submit" class="btn dento-btn" style="background-color: #c3b091">Send Message</button>
        </div>
    </div>
</form>
<h4>{{ message_to_display }}</h4>
{% endblock content %}